@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body{
    margin: 0;
    padding: 0;
    
    background-color: #fff;
}

.heroMain{
    background-color: #fff;
    display: grid;
    padding: 2px 20px;
    grid-template-columns: 1fr 1fr;
    background-image: url("../../../public/images/back1.jpg");
    background-repeat: no-repeat;
  background-size: cover;
}
.heroImage{
    /* max-height: 500px;
    max-width: 700px; */
    max-width: 110%;
    height: auto;
    width: auto;
    /* animation: mover 1.3s infinite  alternate; */
}
.heroFirstPara{
    font-size: 36px;
    font-weight: 700;
}
.heroSecondPara{
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    color: blue;
}
.heroLeft{
    padding: 10px 15px;
    min-height: 500px;
    align-items: center;
    padding-top: 150px;
    p{
        justify-content: left;
    }
}
.heroRight{
    display: flex;
    align-items: center;
}
.heroButton{
    margin-top: 50px;
}
.heroThirdPara{
    padding: 30px 60px;
    text-align: justify;
}












@media screen and (max-width: 920px){
    .heroFirstPara{
        font-size: 32px;
        font-weight: 700;
    }
    .heroSecondPara{
        font-size: 28px;
        line-height: 34px;
        font-weight: 700;
        color: blue;
    }
    .heroLeft{
        padding: 10px 15px;
        min-height: 500px;
        align-items: center;
        padding-top: 80px;
        p{
            justify-content: left;
        }
    }
    .heroThirdPara{
        padding: 20px 35px;
        text-align: justify;
    }
    .heroButton{
        margin-top: 35px;
    }
}




















@media screen and (max-width: 620px){
    .heroImage{
        height: 270px;
        width: 340px;
        animation: move 1.3s infinite  alternate;
    }
    .heroMain{
        display: flex;
        padding: 40px 20px 0px 20px;
        flex-direction: column-reverse;
    }
    .heroFirstPara{
        font-size: 26px;
        font-weight: 600;
    }
    .heroSecondPara{
        font-size: 24px;
        font-weight: 600;
        color: blue;
    }
    .heroLeft{
        padding: 10px 15px;
        min-height: 350px;
        align-items: center;
        padding-top: 30px;
        p{
            justify-content: left;
        }
    }
    .heroRight{
        display: grid;
        align-items: center;
        justify-items: center;
    }
    .heroButton{
        margin-top: 30px;
    }
    .heroThirdPara{
        padding: 15px 18px;
        text-align: justify;
    }

}