.mainDiv{
    background-color:  #ffd800;
    min-height: 100vh;
    
}
.approachHeadingDiv{
    padding: 30px 20px;
}
.approachHeading{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    color: #000;
}
/* .approachHeading::before {
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: #8490ff;
    border-radius: 50%;
  } */
/*   
  .approachHeading::after {
    content: "";
    position: absolute;
    top: 118%;
    left: 1.5rem;
    min-width: 20rem;
  
    height: 0.3rem;
    background: #8490ff;
  } */
.mainCardDiv1{
    padding: 0px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) {
    .mainCardDiv1{
       
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}