.mainMentors{
    background-color: #000;
    min-height: 100vh;
}
.headingMentors{
    margin-top: 40px;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: #fff;
}
.secondaryMentor{
    display: flex;
    flex-direction: row;
    margin: 30px 30px;
    padding: 0px 300px;
    justify-content: space-around;
}

@media screen and (max-width:620px) {
    .secondaryMentor{
        display: flex;
        flex-direction: column;
        margin: 30px 30px;
        padding: 0px;
        justify-content: space-around;
    }
    
}